h1, h2, h3, em {
  display: inline-block;
  text-align: center;
}

h1 {
  background-color: cyan;
  color: transparent; /* Hide the text color */
}

h2 {
  background-color: #0000FF;
  color: white;
}

h3 {
  background-color: orange;
  color: transparent; /* Hide the text color */
}

em {
  background-color: #000000;
  color: pink;
}
