
h1 {
  color: black; /* Hide the text color */
  display: inline-block;
  text-align: center;
}

h2 {
  color: blue;
  display: inline-block;
  text-align: center;
}

h3 {
  color: yellow; /* Hide the text color */
  display: inline-block;
  text-align: center;
}

em {
  background-color: #000000;
  color: pink;
}
